@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

@mixin btn-same-style($radius, $box-shadow) {
  background-color: $green-color;
  border-radius: $radius;
  padding: 14px 30px;
  color: $white-color;
  text-transform: inherit;
  font-weight: $normal;
  box-shadow: $box-shadow;
  &:hover {
  }
  &:active {
  }
}
// Colors
$black-color: #000000;
$primary-color: #08083d;
$white-color: #ffffff;
$green-color: #23ce6b;
$gray-color: #7d7987;
$box-shadow: #23ce6b80;
$bg-color1: #e8efff;
$bg-color2: #7090dc;

// Font Sizes

$header-h1: 38px;
$header-h2: 36px;
$header-h3: 34px;
$header-h4: 32px;
$header-h5: 30px;
$xxxl-text: 28px;
$xxl-text: 26px;
$xl-text: 24px;
$lg-text3: 22px;
$lg-text2: 21px;
$lg-text1: 20px;
$lg-text: 18px;
$default-text: 16px;
$md-text: 14px;
$small-text: 12px;
$smaller-text: 11px;
$ex-small-text: 10px;
$smallest-text: 9px;

// Custom font sizes
$custom-font1: 50px;
$custom-font2: 48px;
$custom-font3: 45px;
// Font Weights
$light: 300;
$normal: $light + 100;
$medium: $light + 200;
$light-bold: $light + 300;
$bold: $light + 400;
$bolder: $light + 500;

.primary-color {
  color: $primary-color;
}

// Custom font family
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

// Media Queries for desktop first
@mixin media-desktop($breakpoint) {
  @if $breakpoint == xxs-small-screen {
    @media (max-width: 320px) {
      @content;
    }
  }

  @if $breakpoint == xs-small-screen {
    @media (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == sm-screen {
    @media (max-width: 575px) {
      @content;
    }
  }

  @if $breakpoint == med-screen {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == lg-screen {
    @media (max-width: 991px) {
      @content;
    }
  }

  @if $breakpoint == xl-screen {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == xxl-screen {
    @media (max-width: 1600px) {
      @content;
    }
  }

  @if $breakpoint == xxxl-screen {
    @media (min-width: 1920px) {
      @content;
    }
  }
}

// Media Queries for specific screen sizes
@mixin media-screens($breakpoint) {
  @if $breakpoint == small-screen {
    @media (min-width: 575px) and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tabpotrait-screen {
    @media (min-width: 767px) and (max-width: 991px) {
      @content;
    }
  }

  @if $breakpoint == tabland-screen {
    @media (min-width: 991px) and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == normal-desktop {
    @media (min-width: 1200px) and (max-width: 1600px) {
      @content;
    }
  }

  @if $breakpoint == medium-desktop {
    @media (min-width: 1600px) and (max-width: 1920px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1920px) {
      @content;
    }
  }
}

// Buttons styles
button {
  background-color: transparent;
  text-decoration: none;
  text-transform: capitalize;
  font-size: $md-text;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: $medium;
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.primary-btn {
  @include btn-same-style(5px, none);
}
.primary-btn-rounded {
  @include btn-same-style(100px, 0px 8px 8px $box-shadow);
}

a {
  text-decoration: unset;
  text-transform: inherit;
}

h1 {
  @include media-desktop(xxxl-screen) {
    font-size: $custom-font1 !important;
    line-height: 65px;
  }
  @include media-screens(medium-desktop) {
    font-size: $custom-font2 !important;
    line-height: 58px;
  }
  @include media-desktop(xl-screen) {
    font-size: $header-h2 !important;
  }
  @include media-desktop(lg-screen) {
    font-size: $header-h4 !important;
  }
  @include media-desktop(sm-screen) {
    font-size: $xxxl-text !important;
  }
  font-size: $header-h1 !important;
  font-weight: $bold;
  font-family: "Gilroy-ExtraBold" !important;
  line-height: 48px;
}
h2 {
  @include media-desktop(xxxl-screen) {
    font-size: $custom-font3 !important;
  }
  @include media-screens(medium-desktop) {
    font-size: $header-h1 !important;
  }
  @include media-desktop(xl-screen) {
    font-size: $header-h4 !important;
  }
  @include media-desktop(lg-screen) {
    font-size: $xxl-text !important;
  }
  @include media-desktop(med-screen) {
    font-size: $xl-text !important;
  }
  @include media-desktop(sm-screen) {
    font-size: $lg-text3 !important;
  }
  font-size: $header-h2;
  font-weight: $bold;
  font-family: "Gilroy-ExtraBold" !important;
}
h3 {
  @include media-desktop(xxxl-screen) {
    font-size: $header-h1 !important;
  }
  @include media-screens(medium-desktop) {
    font-size: $header-h2 !important;
  }
  font-size: $header-h3;
  font-family: "Gilroy-ExtraBold" !important;
}
@mixin sections-gutters {
  @include media-desktop(xxxl-screen) {
    padding: 50px 200px;
  }
  @include media-screens(medium-desktop) {
    padding: 50px 200px;
  }
  @include media-desktop(xl-screen) {
    padding: 30px 120px;
  }
  @include media-desktop(lg-screen) {
    padding: 20px 80px;
  }
  @include media-desktop(sm-screen) {
    padding: 20px 50px;
  }
  padding: 20px 150px;
}
